@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Comic Neue, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

div {
  float: left;
  position: relative;
  top: 30px;
  background-color: grey;
  border: 2px black solid;
}

#one {
  margin-left: 4.15%;
  margin-right: 8.33%;
}

#two {
  margin-right: 8.33%
}

#three {
  margin-right: 4.15%;
}

#one > h2 {
  background-color: pink;
}

#two > h2 {
  background-color: red;
  color: white;
}

#three > h2 {
  background-color: yellow;
}

h2 {
  position: absolute;
  top: 0px;
  right: 0px;
  border-left: 2px black solid;
  border-bottom: 2px black solid;
  width: 33%;
  text-align: center;
}

p {
  margin-top: 50px;
  padding: 5px;
}

@media only screen and (min-width: 992px)  {
  div {
    width: 25%;
  }
}
