@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Comic Neue, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

div {
  float: left;
  position: relative;
  top: 30px;
  background-color: grey;
  border: 2px black solid;
}

#one > h2 {
  background-color: pink;
}

#two > h2 {
  background-color: red;
  color: white;
}

#three > h2 {
  background-color: yellow;
}

h2 {
  position: absolute;
  top: 0px;
  right: 0px;
  border-left: 2px black solid;
  border-bottom: 2px black solid;
  text-align: center;
}

p {
  margin-top: 50px;
  padding: 5px;
}

@media only screen and (min-width: 992px)  {
  div {
    width: 25%;
  }

  #one {
    margin-left: 4.15%;
    margin-right: 8.33%;
  }

  #two {
    margin-right: 8.33%
  }

  #three {
    margin-right: 4.15%;
  }

  h2 {
    width: 33%;
  }
}

@media only screen and (max-width: 991px) {
  div {
    width: 40%;
  }

  #one {
    margin-left: 5%;
    margin-right: 10%;
  }

  #two {
    margin-right: 5%;
  }

  div > h2 {
    width: 33%;
  }

  #three {
    width: 90%;
    margin: 25px 5% 0px 5%;
  }

  #three > h2 {
    width: 15%;
  }
}

@media only screen and (max-width: 767px) {
  div {
    width: 90%;
    clear: left;
    margin: 25px 5% 0px 5%;
  }
}
